@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
   
    <section class="text-center">
        <h1>Social Club Membership Campaign!!!</h1>
        <p>
            This web interface allows a prospective member to <br />
            join a social club, switch club membership, and change membership status as desired. <br />
            All changes stored in database.
        </p>
    </section>
</main>